@charset "utf-8";
/* CSS Document */
/* 登陆界面 */
.bottom_illustrate {
  width: 100%;
  height: 100px;
  background-color: #000;
  color: #fff;
}
.ancestor_div {
  width: 450px;
  height: 530px;
  border: 10px solid #eee;
  margin: 100px auto;
  margin-top: 75px;
  background-color: #fff;
  position: relative;
}
.top_div {
  width: 450px;
  height: 60px;

  position: relative;
}
.login {
  width: 225px;
  height: 60px;
  font-size: 18px;
  text-align: center;
}

.set {
  position: absolute;
  width: 225px;
  height: 60px;
  left: 225px;
  text-align: center;
  font-size: 18px;
  top: 0px;
}

.loginMain_div {
  width: 300px;
  height: 350px;
  left: 80px;
  top: 100px;
  position: absolute;
}
.ractangle_div {
  width: 300px;
  height: 70px;
  position: absolute;
}
.ractangle_2_div {
  width: 300px;
  height: 70px;
  position: absolute;
  top: 90px;
}
.local_storage {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 180px;
}
.login_submit {
  width: 300px;
  height: 50px;
  position: absolute;
  bottom: 90px;
}
.login_submit_button {
  width: 300px;
  height: 50px;
  background-color: #3c0;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 2px 3px 2px;
  font-size: 16px;
}
.login_submit_button:hover {
  background-color: #fc0;
}
.getCode {
  margin-left: 20px;
  width: 110px;
  height: 28px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px;
  background-color: #dbdbdb;
}
.kindsof_div {
  width: 300px;
  height: 50px;
  bottom: 10px;
  font-size: 13px;
  position: absolute;
}

.input_class {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  outline: none;
}
.message_p {
  padding-top: 30px;
  padding-left: 600px;

  text-shadow: 2px 2px #0000ff;
}

.main_nav {
  width: 450px;
  height: 60px;
  text-align: center;
}
#tologin {
  width: 225px;
  height: 60px;
  position: absolute;
}
#toregister {
  margin-left: 225px;
  width: 205px;
  height: 60px;
  position: absolute;
}
.main_nav div a {
  padding-top: 15px;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
}
.main_nav div a:hover {
  background-color: #f7f7f7;
}
.span_required {
  color: #f00;
  display: none;
}

.registerMain_div {
  width: 300px;
  height: 350px;
  left: 80px;
  top: 100px;
  position: absolute;
}
#verification {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  outline: none;
}
#thisS{
  margin-left:50px;
}
body {
  background-color: #f0f0f0;
  margin: 0px;
}
