@charset "utf-8";
/* CSS Document */
/* 统一的div */
.Forget_password_main	
{ 	width: 434px;
    height: 300px;
    border: 2px solid rgb(191, 209, 250);
    margin: 100px auto;
    margin-top: 75px;
    background-color: #fff;
    position: relative;
	}
	
/* 验证码验证*/
.Forget_password_middle_front{
	width: 340px;
	height: 190px;
	left:50px;
	top: 50px;
	position: absolute;
	}
/* 共同的段落 */
.Forget_password_middle_front p,.Forget_password_middle_back p{
	position:relative;
}
/* 新密码及新密码验证 */
.Forget_password_middle_back{
	width: 340px;
	height: 190px;
	left:50px;
	top: 50px;
	position: absolute;
}
/* 总的div */


/* 翻牌设置 */
.Forget_password_middle_front,.Forget_password_middle_back{backface-visibility:hidden; transition: all 0.5s;}

.Forget_password_main .Forget_password_middle_front{transform: rotateY(0deg)}
.Forget_password_main .Forget_password_middle_back{transform: rotateY(180deg)}

.Forget_password_main:hover .Forget_password_middle_front{transform: rotateY(180deg)}
.Forget_password_main:hover .Forget_password_middle_back{transform: rotateY(0deg)}

